<! DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Hello</title>
</head>

<body>
<h1>Music Recommender</h1>

<form method="POST">
    <p>Do you like Artist 1 ?</p>
    <input type="text" placeholder="Enter Y or N" name="input1">
    <p>Do you like Artist 2 ?</p>
    <input type="text" placeholder="Enter Y or N" name="input2">
    <p>Do you like Artist 3 ?</p>
    <input type="text" placeholder="Enter Y or N" name="input3">
    <p>Do you like Artist 4 ?</p>
    <input type="text" placeholder="Enter Y or N" name="input4">
    <p>Do you like Artist 5 ?</p>
    <input type="text" placeholder="Enter Y or N" name="input5">
    <input type="submit">
</form>

</body>

</html>>